body {
  margin: 0;
  padding: 0;
}

/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive;*/
.header-container {
  max-width: 1440px;
  height: 83px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.header {
  background-color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
}

.navlink {
  margin-right: 37px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #E3B873;
}

.navnumber {
  color: #E3B873;
  text-decoration-line: underline;
}

.logo {
  color: #E3B873;
}

.navbutton {
  height: 37px;
  Width: 161px;
  color: #FFFFFF;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
  text-transform: uppercase;
}


.container {
  max-width: 1440px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.sectionfirst {
  background-image: url("img/image 4.3.jpg");
}